In [1]:
import sys
import os

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path+"\\hr_dashboard\code")

import data_cleaning as dc
import plots

In [7]:
emps=dc.get_cleaned_emp_list(r'C:\Users\letti\python_scripts\hr_dashboard'
                             '\\data\output\cleaned_cincy_emp_list.csv')

In [5]:
emps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6304 entries, 0 to 6303
Data columns (total 28 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age_range       6304 non-null   category
 1   name            6304 non-null   object
 2   sex             6304 non-null   object
 3   race            6304 non-null   object
 4   business_title  6304 non-null   object
 5   deptid          6304 non-null   int64
 6   jobcode         6304 non-null   object
 7   position_nbr    6304 non-null   int64
 8   location        6304 non-null   object
 9   job_entry_dt    6304 non-null   object
 10  paygroup        6304 non-null   object
 11  std_hours       6304 non-null   float64
 12  fte             6304 non-null   float64
 13  sal_admin_plan  6304 non-null   object
 14  grade           6304 non-null   int64
 15  step            6304 non-null   int64
 16  annual_rt       6304 non-null   float64
 17  eeo_job_group   5651 non-null   float64
 18  job_family      6299 non-null   object
 19  jobtitle        6304 non-null   object
 20  jobtitle_abbrv  6304 non-null   object
 21  deptname        6304 non-null   object
 22  deptname_abbrv  6304 non-null   object
 23  hire_date       6304 non-null   object
 24  eeo_job_class   6304 non-null   object
 25  paygroup_label  6304 non-null   object
 26  full_time       6304 non-null   object
 27  tenure          6304 non-null   float64
dtypes: category(1), float64(5), int64(4), object(18)
memory usage: 1.3+ MB