In [62]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
import scipy.stats as stats

import numpy as np
import pandas as pd
pd.set_option('display.float_format', lambda x: '%.4f' % x)

import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('https://query.data.world/s/dvjhtcrrfk7ukq5mavxgdgcpeozd6z')

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 338 entries, 0 to 337
Data columns (total 5 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Time                         338 non-null    object
 1   Ethnicity                    338 non-null    object
 2   Number of stop and searches  266 non-null    float64
 3   Population                   244 non-null    float64
 4   Rate per 1,000 population    244 non-null    float64
dtypes: float64(3), object(2)
memory usage: 13.3+ KB

In [64]:
df.describe()

       Number of stop and searches    Population  Rate per 1,000 population
count                     266.0000      244.0000                   244.0000
mean                    93930.6015  7221236.3607                    27.3207
std                    204913.7816 16042584.4751                    33.4676
min                       130.0000    56157.0000                     0.6000
25%                      6849.5000   403584.0000                     8.4975
50%                     20516.0000   807285.0000                    16.8100
75%                     68904.2500  1790793.0000                    31.8125
max                   1348552.0000 53393384.0000                   210.9200

In [65]:
df.head()

,Time,Ethnicity,Number of stop and searches,Population,"Rate per 1,000 population"
0,2006/07,All,nan,nan,nan
1,2007/08,All,nan,nan,nan
2,2008/09,All,nan,nan,nan
3,2009/10,All,1348552.0000,53393384.0000,25.2600
4,2010/11,All,1241779.0000,53393384.0000,23.2600

In [66]:
df.Ethnicity.value_counts()

Unreported                                    28
Mixed White and Asian                         14
All                                           14
Mixed                                         14
Any other black background                    14
Pakistani                                     14
Bangladeshi                                   14
Black Caribbean                               14
White British                                 14
White Irish                                   14
Mixed White and Black African                 14
White                                         14
Any other mixed/multiple ethnic background    14
Any other white background                    14
Asian                                         14
Black                                         14
Mixed White and Black Caribbean               14
Any other Asian background                    14
Indian                                        14
Black African                                 14
Any other ethnic group                        14
Chinese                                       14
Other inc Chinese                             13
Gypsy or Irish Traveller                       1
Arab                                           1
Other                                          1
Name: Ethnicity, dtype: int64

In [76]:
races=['Asian','Black','Mixed','White','Other']
years=['2006/07','2007/08','2008/09']
stops_by_race_df=df.loc[(df.Ethnicity.isin(races))&~(df.Time.isin(years))].copy()

In [81]:
sns.lineplot(hue='Ethnicity',data=stops_by_race_df)

ValueError: The following variable cannot be assigned with wide-form data: `hue`